@*
	/*
		Created By Gene Kochanowsky

		All I ask is that you say who you stole this from.
	*/
*@
@inject SCRUD.Models.SelectLists SL
@model SCRUD.Models.Person

@{
	string formID = Model.formView.Replace("_", "-") + "-frm";
	string headerStr = Model.PersonId == 0 ? "Create" : "Edit";
	string funcSave = "Save_" + Model.formView.Replace("-", "_");
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" onclick="return CloseDialog('@Model.formView');">&times;</button>
			<h2 style="color:blue"><span class="glyphicon glyphicon-edit"></span> @headerStr Person</h2>
		</div>
		<div class="modal-body">
			<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
			<form id="@formID" name="@formID" asp-action="CreateOrEdit">
				@*@Html.AntiForgeryToken()*@
				<input type="hidden" asp-for="PersonId" />
				<input type="hidden" asp-for="formView" />
				<input type="hidden" asp-for="funcRefresh" />
				<div class="form-horizontal">

					<div class="form-group">
						<label asp-for="DoB" class="col-md-4 control-label"></label>
						<div class="col-md-8">
							<editor asp-for="DoB" class="form-control" />
							<span asp-validation-for="DoB" class="text-danger" />
						</div>
					</div>
					<div class="form-group">
						<label asp-for="FirstName" class="col-md-4 control-label"></label>
						<div class="col-md-8">
							<editor asp-for="FirstName" class="form-control" />
							<span asp-validation-for="FirstName" class="text-danger" />
						</div>
					</div>
					<div class="form-group">
						<label asp-for="LastName" class="col-md-4 control-label"></label>
						<div class="col-md-8">
							<editor asp-for="LastName" class="form-control" />
							<span asp-validation-for="LastName" class="text-danger" />
						</div>
					</div>					<div class="form-group">
						<label asp-for="GenderID" class="col-md-4 control-label"></label>
						<div class="col-md-8">
							<select asp-for="GenderID" asp-items="@SL.Gender(Model.GenderID)" class="form-control"></select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-4 col-md-8">
							<input type="button" onclick="return @funcSave (this)" value="Save" class="btn btn-default pull-left" />
							<input type="button" onclick="return CloseDialog('@Model.formView');" value="Cancel" class="btn btn-default pull-left" style="margin-left:20px" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
		function @funcSave (btn) {
			return PostDialog('@Model.formView' 
								,'@formID' 
								,function() { btn.disabled = true; }
								,function() { btn.disabled = false; } 
								@if (Model.funcRefresh != null) { <text>, function() { @Model.funcRefresh (); }</text> });
		}
</script>