@*
	/*
		Created By Gene Kochanowsky
	*/
*@
@model SCRUD.Models.Person

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" onclick="return CloseDialog('@Model.formView');">&times;</button>
			<h4 style="color:red"><span class="glyphicon glyphicon-book"></span> Person Details</h4>
		</div>
		<div class="modal-body">
			<div>
				<dl class="dl-horizontal">
					<dt>@Html.DisplayNameFor(model => model.DoB)</dt>
					<dd>@Html.DisplayFor(model => model.DoB)</dd>
					<dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
					<dd>@Html.DisplayFor(model => model.FirstName)</dd>
					<dt>@Html.DisplayNameFor(model => model.LastName)</dt>
					<dd>@Html.DisplayFor(model => model.LastName)</dd>
					<dt>@Html.DisplayNameFor(model => model.GenderID)</dt>
					<dd>@Html.DisplayFor(model => model.Gender.Code)</dd>
				</dl>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default pull-left" onclick="return CloseDialog('@Model.formView');"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			<p>Not a bonehead? <a href="#">Sign Up</a></p>
		</div>
	</div>
</div>
