@*
	/*
		Created By Gene Kochanowsky

		All I ask is that you say who you stole this from.
	*/
*@
@model SCRUD.Models.SearchDTO

@{
	double statusLen = ((Math.Log10(Model.recCount)) * 3 + 23) / 2;
	double pageLen = Math.Log10(Model.PageLast) + 1.5;
}

@if (Model.recCount > Model.recsPerPage)
{
	<ul class="pagination" style="margin:0">
		<li class="display link-default"><span style="width:@(statusLen)em;">Page @Model.Page of @Model.PageLast (@Model.recCount items)</span></li>
		@if (Model.Page > 1)
		// First Page
		{
			<li title="First Page"><a class="link-default" onclick="return LoadSearchResults('@Model.PageFirst', '@Model.FormID');"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
		}
		else {
			<li class="display link-default"><span style="color:gray; cursor:default"><span class="glyphicon glyphicon-fast-backward"></span></span></li>
		}

		@if (Model.GroupCount > 1)
		// Previous Page Group
		{
			@if (Model.GroupCurr > 1)
			{
				<li title="Previous @Model.PagesPerGroup Pages"><a class="link-default" onclick="return LoadSearchResults('@Model.GroupPagePrev', '@Model.FormID');"><span class="glyphicon glyphicon-backward"></span></a></li>
			}
			else {
				<li class="display link-default"><span style="color:gray; cursor:default"><span class="glyphicon glyphicon-backward"></span></span></li>
			}
		}

		@if (Model.Page > 1)
		// Previous Page
		{
			<li title="Previous Page"><a class="link-default" onclick="return LoadSearchResults('@Model.PagePrev', '@Model.FormID');"><span class="glyphicon glyphicon-step-backward"></span></a></li>
		}
		else {
			<li class="display link-default"><span style="color:gray; cursor:default"><span class="glyphicon glyphicon-step-backward"></span></span></li>
		}

		@for (int i = Model.PageRangeStart; i <= Model.PageRangeEnd; ++i)
		// Create page group page list
		{
			@if (Model.Page != i)
			{
				<li><a style="width:@(pageLen)em;text-align:center" class="link-pointer" onclick="LoadSearchResults('@i', '@Model.FormID'); return false;">@i</a></li> }
			else {
				<li class="display link-default"><span style="color:gray;width:@(pageLen)em;text-align:center"><strong>@i</strong></span></li> }
		}

		@if (Model.Page < Model.PageLast)
		// Next page pointer
		{
			<li><a title="Next Page" class="link-pointer" onclick="LoadSearchResults('@Model.PageNext', '@Model.FormID'); return false;"><span class="glyphicon glyphicon-step-forward"></span></a></li>
		}
		else {
			<li class="display link-default"><span style="color:gray; cursor:default"><span class="glyphicon glyphicon-step-forward"></span></span></li>
		}

		@if (Model.GroupCount > 1)
		// Next Page Group
		{
			@if (Model.GroupCurr < Model.GroupCount)
			{
				<li><a title="Next @Model.PagesPerGroup Pages" class="link-default" onclick="return LoadSearchResults('@Model.GroupPageNext', '@Model.FormID');"><span class="glyphicon glyphicon-forward"></span></a></li>
			}
			else {
				<li class="display link-default"><span style="color:gray; cursor:default"><span class="glyphicon glyphicon-forward"></span></span></li>
			}
		}

		@if (Model.Page < Model.PageLast)
		// Last Page
		{
			<li><a title="Last Page" class="link-pointer" onclick="LoadSearchResults('@Model.PageLast', '@Model.FormID'); return false;"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
		}
		else {
			<li class="display link-default"><span style="color:gray; cursor:default"><span class="glyphicon glyphicon-fast-forward"></span></span></li>
		}

	</ul>
}
